SLACK_BOT_TOKEN=xoxb-XXXXXXXXXXXXXXXXXXX
SLACK_SIGNING_SECRET=XXXXXXXXXXXXXXXXXXX
APP_TOKEN=xapp-XXXXXXXXXXXXXXXXXXXXXXXXX
WFE_URL=https://XXXXXXXXXXXXXXXXXXXXXXXX/api/1.0
WFE_AUTH_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiZWNlZWY1MGYzMjdjN2MzYWIzNDY2NzEwM2Y4OTY1NTVlMjhiMDVkYzFjODkzMDQ2MzQwNWJiMjFhNzc1MjkwNGI5NTEwNjQ1YTMwYTZkYzUiLCJpYXQiOjE2NTc3OTIzMjYsIm5iZiI6MTY1Nzc5MjMyNiwiZXhwIjoxNjg5MzI4MzI2LCJzdWIiOiIyIiwic2NvcGVzIjpbXX0.Mnpf2ruEVcFQlftq-iOYGIpByBpWWedutcHaaZKR3ytWHjuAsmXfetCZWp2ZLwRFZJnDReMFy_J3a9nK3B0-hu_9qMQQsDOoPIYvVfBRWsLSwib-JAaIPr7JLUF6rvd19Kw_5ZXTBJHnqTyzy62R6w6N87Lbq2HaRSF5u62wCIMbA8-oCI_bDhmT-_SuV381cV_rTkCrids7BTxd9FYQiwuISOfJiCrGofhI9uG6c565G2ngB8YOgt6374hmwmYOOZS2nD9iBG7P_r7cnvZfaVa3oOU77FWx0LWGTk3iQD1pgfsS21F5LTU8BqiP7oow6_SrCA_khwGHpWhh7VRnyUtp3QxCFeYw1zRueyoxDUv-faXiJ1VDCCmc6pAXznenMiE0EWihTvafR50jv0Mw1PT8R0EoFSc6Fdtp7fdaocxYNHUSN49UeHLVfX7AQ_sWGEJiMH3VhOBVbdfUKfd95t8V5ESnxlyQHt_kASWSFNjp7aarndV4J6AqjvNugk6zSZkGKnSwf5ACUf3gw63y8kczRjaEFyvFVSY7p4xpclPy7OBfsg9jOHNqDBvW6xN2FukNmxSnGh06ai-oZUGw7w27xDvH7Tj5iNgMEITSE1SAqup_RGX1gH2aOimmflzkGImMszuwpWF0HjTyCnRf5LJItfYtFuL9fcejh8K-Y_M
PORT=3000